
/* Set padding to keep content from hitting the edges */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*---------------- mine ---------------*/

/*------Nav Bar--------*/

.navbar {
    border-radius:0;
    margin-bottom:0px;
}

.navbar-inverse {
    background-color: #332c2c;
    border:none;
}

.navbar-brand { /*Logo*/
    background: url(images/logo.png) no-repeat;
    text-indent: -2000px;
    height: auto;
    margin: 10px 5px 0px 5px;
    box-sizing: content-box;
    width: 250px;
}

.nav .btn-default {
    color: #CCC;
    background-color: transparent;
    font-size: 16px;
    border:none;
}

.nav .btn-default:hover {
    color:white;
}

.nav li {
    margin-top:5px;
}


/*-------------Body-------------------*/

.book-panel {
    text-align:center;
}

.book-cover {
    overflow:hidden;
}

.book-cover img {
    height:250px;
    margin: auto;
    width:100%;
}

.book-title {
    font-family: 'Arvo', serif;
    font-weight:bold;
    font-size:21px;
    margin-bottom:5px;
}

.book-author {
    display: block;
    font-family: Arvo, serif;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 5px;
}

.book-rent {
    width: 100%;
    background-color: #7d3232;
    border-radius: 25px;
    border: none;
    height: 30px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

    .book-rent:hover {
        background-color: #CCC;
        color: black;
    }
.pestana {
    width: auto;
    height: 250px;
    background-color: #CCC;
}

.btntop {
    margin-top: 7px;
}


/******Search ********/
.search {
    height: 200px;
    background-image: url('https://tympanus.net/Development/BookPreview/img/bgheader.jpg');
    background-size:cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}
.footer {
    position: relative;
    bottom: 0;
    margin: 50px 0 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

