
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
html, body {
    height: 100%;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navmenu {
    z-index: 1;
}
.navbar {
    margin-bottom:0px;
}
.canvas {
    position: relative;
    left: 0;
    height: 100%;
    padding: 50px 0 0 0;
    background: url(images/bibliobg.jpg) center no-repeat #ffff00;
    background-size: cover;
}
/*---------------- mine ---------------*/

.pestana {
    width: auto;
    height: 250px;
    background-color: #CCC;
}

.forCenter {
    margin-top: 5%;
    color: #fff;
}
.btntop {
    margin-top: 7px;
}

.footer {
    position: relative;
    bottom: 0;
    margin: 50px 0 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.empty {
    margin-top: 50px;
}