@model IEnumerable<Biblioteca_eCommerce.Models.Libro>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<section class="main-content">

    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <article class="col-md-3">
                    <div class="book-panel">
                        <div class="book-cover">
                            <img src="http://placehold.it/250x250" />
                        </div>
                        <div class="book-description" data-isbn='@Html.DisplayFor(modelItem => item.ISBN)'>
                            <h4 class="book-title"> @Html.DisplayFor(modelItem => item.Nombre)</h4>
                            <span class="book-author">@Html.DisplayFor(modelItem => item.autores.Nombre)</span>
                            <button class="book-rent">Rentar</button>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</section>



