@using Microsoft.AspNet.Identity
@model IEnumerable<Biblioteca_eCommerce.Models.Libro>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<section class="main-content">

    
    
        <div class="row">
            @foreach (var item in Model)
            {
                <article class="col-md-3">
                    <div class="book-panel">
                        <div class="book-cover">
                            <img src="http://placehold.it/250x250" />
                        </div>
                        <div class="book-description" data-isbn='@Html.DisplayFor(modelItem => item.ISBN)'>
                            <h4 class="book-title"> @Html.DisplayFor(modelItem => item.Nombre)</h4>
                            <span class="book-author">@Html.DisplayFor(modelItem => item.autores.Nombre)</span>
                            <!--Boton para relacionar los libros con el usuario, cambiar cuando se este completo-->
                            
                            
                                <form action=@Url.Action("Reservar", "Home") method="post">
                                    <input type="hidden" id="IdLibro" name="IdLibro" value=@Html.DisplayFor(modelItem => item.IdLibro) />
                                    <input type="hidden" id="IdUsuario" name="IdUsuario" value=@Html.Raw(User.Identity.GetUserName()) />
                                    <input type="submit" value="Rentar" class="btn btn-danger">
                                </form>

                            <!--Boton para agregar que cambie luego de el click-->
                            <!--<button type="submit" class="book-rent"> Rentar </button>-->
                        </div>
                    </div>
                </article>
            }
        </div>
  
</section>



