@model IEnumerable<Biblioteca_eCommerce.Models.Libro>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<section class="main-content">
    <div class="row">
        @foreach (var item in Model)
        {

            <article class="col-md-3">
                <div class="book-panel">
                    <div class="book-cover">
                        <img src="http://placehold.it/250x250" />
                    </div>
                    <div class="book-description">
                        <h4 class="book-title"> @Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <span class="book-author" >@Html.DisplayFor(modelItem => item.autores.Nombre)</span>
                        <button class="book-rent">Rentar</button>
                    </div>
                </div>
            </article>
        }
    </div>
</section>

