@model Biblioteca_eCommerce.Models.reservaLibro

@{
    ViewBag.Title = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservar</h2>

Nombre de Libro: @ViewBag.Libro <br />
Usuario que pide el libro: @ViewBag.Usuario <br />