@model Biblioteca_eCommerce.Models.reservaLibro

@{
    ViewBag.Title = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservar</h2>
@if (Request.IsAuthenticated)
{
    <h2> Nombre de Libro: @ViewBag.Error </h2>

} else
{
    <h2> Debe Logearse,</h2>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
