@model Biblioteca_eCommerce.Models.reservaLibro

@{
    ViewBag.Title = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservar</h2>

INT 1 = @ViewBag.LibroId1 <br />
INT 2 = @ViewBag.LibroId2 <br />


Nombre de Libro: @ViewBag.Error <br />  

